nav{
    height: 50px;
    background-color: lightseagreen;
    text-align: left;
    margin: 0;
    padding: 0;
    position: sticky;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.block_element{
    margin-left: 30px;
    float: left;
}
.inline-block{
    display: inline-block;
    font-weight: 700;
    width: 70px;
    color: beige;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.left{
    float: left;
    width: 30%;
    height: 1000px;
    background-color: beige;

}
.right{
    float: left;
    width: 70%;
    height: 1000px;
    background-color: beige;
}
.top{
    height: 400px;
    background-color: bisque;
    text-align: center;
    font-size: 20px;
 
}
.bottom{
    background-color: darksalmon;
    height: 600px;
}
.bottom h2{
    font-weight: 800;
}
.top img{
    width: 150px;
    margin-top: 40px;
    border-radius: 20px;
    border: 10px;
    border-style: double;
    border-color: black;

}

#pet{
    font-weight: bold;
}

.intropet{
    position: relative;
    width: 90%;
    height:350px;
    margin: 20px;
    margin-left: 50px;
    border: 5px;
    border-style: dotted;
    border-color: salmon;

}

.intropet img{
    float: left;
    margin: 30px;
    margin-left: 70px;
    width: 200px;
    border-radius: 20px;
}
.meetdog{
    float:left;
}
.introduction{
    text-align: center;
    position: relative;
    margin: 20px;
    margin-left: 50px;
    width: 90%;
    height: 570px;
    border: 5px;
    border-style: dotted; 
    border-color: darksalmon; 
}
.introduction img{
    float: center;
    width: 250px;
    margin: 30px;
    border-radius: 20px;
    text-shadow: bisque;
  
}

