body{
    font-family: 'Poppins', sans-serif;
}
a:link{
  text-decoration: none;
}
#heroContent h1{
  font-size: 45px; 
  font-weight: 700;
}
h1{
  font-size: 45px; 
  font-weight: 500;
}
h2{
  font-size: 30px;
  line-height: 1.3cm;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400; 
}
h3{
  font-size: 20px;
}
p{
  font-family: 'Quicksand', sans-serif;
  line-height: 0.9cm;
  font-weight: 400;
  font-size: 20px;
}
em{
  font-style: bold;
}
#navbar {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    margin: 0px 8%;
    font-family: 'Quicksand', sans-serif;
  }
  #navbar p {

    width: 60%;
    align-content: flex-start; 
    font-weight: 300;
    color: salmon; 
  }
  #navigation {
    display: flex;
    width: 40%; 
    justify-content: space-evenly;
  }
#navigation p {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black; 
  }
.heroPage{ 
  margin: 50px 10%;
  min-height: 200px;
  height: 80vh;

}
#heroContent{
  /*background-image: url("../images/background_pink1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;*/
  padding: 50px; 
  padding-top: 100px;
}

/*.aboutMe{
  margin: 50px 10%;
  min-height: 200px;
  height: 60vh;
  padding: 50px; 
  padding-top: 200px;
}

.aboutMe{
  background-color: goldenrod;
}

.aboutMe h2{
  
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 35px; 

}
*/
.aboutMeGrid{
  display: grid; 
  margin: 50px 10%;
  margin-bottom: 100px;
  min-height: 400px;
  height: 65vh;
  grid-template-rows: 1fr; 
  grid-template-columns: 60% 40%;
  grid-template-areas:
  "mainContent mainImg";
} 


#mainImg{
  background-image: url("../images/sign.jpg"); 
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}
#mainContent{
  background-color: rgb(255, 199, 150,0.6);
  padding: 50px; 
  padding-right: 60px;
}

/*
button {
  position: relative;
  cursor: pointer;
  color: salmon;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  padding: 17px;
  width: 17%;
  align-content: center;
  transition: all 0.2s ease-in;
}

button:hover{
  color: white;
  background-color: salmon; 
}*/
.mainbutton {
  float: left;
  position: relative;
  cursor: pointer;
  color: salmon;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  padding: 17px;
  width: 17%;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
  .mainbutton:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: salmon;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  .mainbutton:hover {
    color: #fff;
  }
  .mainbutton:hover:after {
      width: 110%;
    }

  
.flexContainer{
  position: relative;
  display: flex;
  flex-direction: row;  
  margin: 20px; 
  height: 550px;
 
}
.flexContainer h3{
  background-color: #8ABFC9;
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 25px;
  margin: 0px;
  
}


.list ul{
  list-style: none;
  display: block;
  
}

.list li{

  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200; 
  padding: left 5px; 
  padding-top: 10px; 
  margin: 5px; 
}

.mySkill{
 
  margin: 50px 10%;
  min-height: 400px;
  height: 65vh;
  padding: 50px; 
  margin-bottom: 100px;

} 


#uxSkill{
  background-color: #D8EEF2;
  width: 33%;
  margin: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}



#uiSkill{
  background-color: #D8EEF2;;
  width: 33%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

#wedSkill{
  background-color: #D8EEF2;;
  width: 33%;
  margin: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#footer{
  display: flex; 
  flex-direction: row; 
  background-color: #FCF2F2; 
  width: 100%; 
  margin-top: 30px;
}

.footer-block {
  display: flex;
  height: 100px;
  width: 500px;  
  justify-content: space-around;
  align-items: center;  
}

.footer-block p{
  cursor: pointer;
}

.copyright{
  display: flex;
  align-items: center;  
  justify-content: center; 
  background-color: rgb(255, 126, 103,0.6);
  height: 50px; 
  width: 100%; 
}

.contentbutton{
  color: #07689F; 
  font-weight: 300;
  border: 2px solid #07689F;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  transition: all 0.2s ease-in;
}

#projectGrid button:hover{
  color: white;
  background-color:#07689F; 
}


@media only screen and (max-width: 600px){
  #heroContent h1{
    font-size: 30px; 
    font-weight: 700;
  }
  h1{
    font-size: 30px; 
    font-weight: 500;
  }
  h2{
    font-size: 20px;
    line-height: 0.8cm;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
  }
  h3{
    font-size: 18px;
  }
  p{
    font-family: 'Quicksand', sans-serif;
    line-height: 1cm;
    font-weight: 400;
    font-size: 14px;
  }

  .heroPage{ 
    margin: 10px 0% auto;
    min-height: 100px;
    height: 55vh;
    
  }
  .aboutMeGrid{
    margin: 0% auto;
    min-height: 200px;
    margin-bottom: none; 
    height: 80vh; 
    grid-template-rows: 650px 300px; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "mainContent"
    "mainContent"
    ;
  }
  button {
    position: relative;
    float: right;
    cursor: pointer;
    color: salmon;
    background-color: white; 
    font-weight: 300;
    border: 2px solid salmon;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    align-content: center;
    transition: all 0.2s ease-in;
  }

  #mainContent{
    background-color: rgb(255, 199, 150,0.6);
    padding: 40px; 
    padding-right: 20px;
    line-height: 0.5cm;
  }
  #mainContent p{
    line-height: 0.7cm;
  }
  #heroContent{
    padding: 20px; 
  }
  .mySkill{
 
    margin: 0px auto;
    min-height: 400px;
    height: 110vh;
    padding: 40px; 
    margin-bottom: 30px;
    border: none; 
  
  } 
  .flexContainer{
    flex-direction: column;  
    height: 100vh; 
  
  }
  .flexContainer h3{

    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
    margin: 0px;
    
  }
  #uxSkill{
    background-color: #D8EEF2;
    width: 80%;
    margin: 20px auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  
  
  #uiSkill{
    background-color: #D8EEF2;;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  
  }
  
  #wedSkill{
    background-color: #D8EEF2;;
    width: 80%;
    margin: 20px auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }


  
  .list li{
  
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200; 
    padding: left 5px; 
    padding-top: 10px; 
    margin: 5px; 
  }

}