body{
    font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 45px; 
}
h2{
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200; 
}
h3{
  font-size: 20px;
}
p{
  font-family: 'Quicksand', sans-serif;
  line-height: 0.9cm;
  font-weight: 400;
  font-size: 20px;
  
}
a:link{
  text-decoration: none;
}
#navbar {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    margin: 0px 8%;
    font-family: 'Quicksand', sans-serif;
  }
  #navbar p {
    width: 60%;
    align-content: flex-start; 
    font-weight: 300;
    color: salmon; 
  }
  #navigation {
    display: flex;
    width: 40%; 
    justify-content: space-evenly;
  }
#navigation p {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black; 
  }
.heroImg{
  display: grid; 
  margin: 50px 10%;
  min-height: 200px;
  height: 80vh;
  grid-template-rows: 1fr; 
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "aboutme heroimage";
}
.heroImg h1{
  font-weight: 900;
  font-size: 60px;
}

#aboutme{
  grid-area: aboutme; 
  padding: 70px; 
  padding-top: 200px;
}

#aboutme h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 35px; 
}

/*
button {
  float: right;
  position: relative;
  cursor: pointer;
  color: salmon;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  transition: all 0.2s ease-in;
}

button:hover{
  color: white;
  background-color: salmon; 
}*/

.mainbutton {
  float: right;
  position: relative;
  cursor: pointer;
  color: salmon;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
  .mainbutton:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: salmon;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  .mainbutton:hover {
    color: #fff;
  }
  .mainbutton:hover:after {
      width: 110%;
    }

.heroimage{
  grid-area: heroimage; 
  margin: 70px; 
  background-image: url("../images/MyPhoto.png");
  background-repeat: no-repeat; 
  background-size: contain; 
  background-position: center;
}
#projectGrid{
  position: relative; 
  display: grid; 
  margin: 50px 10%;
  min-height: 500px;
  height: 260vh;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "savethewhales projectstw"
  "projectdoe doe"
  "gardenfresh projectgardenfresh"
  "projecttripper tripper";
} 


.projectGridArea{
  background-position: center; 
  margin: 20px ; 
  display: grid; 
  align-content: center; 
  justify-content: center;
}

#projectstw{
  background-color: rgb(162, 213, 242,0.5);
  grid-area: projectstw;
  padding: 80px; 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/;
}



#savethewhales{
  grid-area: savethewhales;
  background-image: url("../images/photosavethewhales.png");
  background-size: contain; 
  background-repeat: no-repeat;
} 

#projectdoe {
  grid-area: projectdoe; 
  background-color: rgb(242, 199, 189,0.5);
  padding: 80px; 
}

#doe{
  grid-area: doe; 
  background-image: url("../images/photodoe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#projectgardenfresh {
  grid-area: projectgardenfresh; 
  background-color: blanchedalmond; 
  padding: 80px; 
}

#gardenfresh{
  grid-area: gardenfresh; 
  background-image: url("../images/photogardenfresh.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#projecttripper {
  grid-area: projecttripper; 
  background-color: rgb(162, 213, 242,0.4); 
  padding: 80px; 
}

#tripper{
  grid-area: tripper; 
  background-image: url("../images/phototripper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#footer{
  position: relative;
  flex-direction: row; 
  background-color: #FCF2F2; 
  width: 100%; 
  margin-top: 30px;
}

.footer-block {
  display: flex;
  height: 100px;
  width: 500px;  
  justify-content: space-around;
  align-items: center;  
}

.footer-block p{
  cursor: pointer;
}

.copyright{
  display: flex;
  align-items: center;  
  justify-content: center; 
  background-color: rgb(255, 126, 103,0.5);
  height: 50px; 
  width: 100%; 
}

button.contentbutton{
  position: relative; 
  left: 70%; 
  float: right; 
  color: #07689F; 
  font-weight: 300;
  border: 2px solid #07689F;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  transition: all 0.2s ease-in;
}

#projectGrid button:hover{
  color: white;
  background-color:#07689F; 
}

#projectGrid button{
  position: relative;

}
/*
@media only screen and (max-width: 1000px)
{
  #navigation{
    display: none;

  }
  .icons{
    margin-left: auto;
  } 
}
 @media only screen and (max-width: 600px)
 {
   #headline{
     position: static; 
     margin: 20px; 
   }
   #heroGrid{
     grid-template-areas: 
     "featuredProduct featuredProduct"
     "secondaryProduct CTA"
   }
   #categoryGrid{
     grid-template-rows: 300px 300px 300px 300px 300px;
     grid-template-columns: 1fr;
     grid-template-areas: 
     "bookcases"
     "bedroom"
     "patio"
     "couches"
     "desks";
   }

 }