body{
    font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 45px; 
}
h2{
  font-size: 30px;
  font-weight: 400; 
}
h3{
  font-size: 20px;
}
h5{
  font-size: 30px;
  font-weight: 600px; 
}
p{
  line-height: 0.9cm;
  font-weight: 400;
  font-size: 20px;
  
}
em{
  font-style: bold;
} 
a:link{
  text-decoration: none;
 
}

.LI a:link{
  text-decoration: none;
  color: blue; 
}

.navbarContainer{
  width: auto; 
  margin-left: auto; 
  margin-right: auto; 
}
.bg-light{
  background-color:white !important; 
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px; 
  margin-right: 10px;  
  margin-left: 10px; 
}
.navbar-brand{
  font-size: 24px; 
  margin-left: 10px;  
}

.navbar {
    display: flex;
    flex-direction: row;
}
.navbar-nav{
    margin-right: 10px; 
}
  /*
  #navbar p {
    width: 60%;
    align-content: flex-start; 
    font-weight: 300;
    color: salmon; 
  }
  #navigation {
    display: flex;
    width: 40%; 
    justify-content: space-evenly;
  }
#navigation p {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black; 
  }*/

.jumbotron{
    background-color: white;
    height: 646px; 
    height: calc(100vh-25px);
    display: flex;
    align-items: center;
    margin-left: 9%; 
    margin-right: 9%; 
}
.jumboCopy{
    width: auto;
    padding: 5px; 
    min-width: 500px; 
    max-height: 700px;
    color: black; 
    text-align: left; 
}

.jumbotron h1{
  font-weight: 500;
  font-size: 60px;
  padding-bottom: 30px;
  line-height: 84px;
}

.jumbotron p{
  font-size: 32px;
  letter-spacing: -1px; 
  line-height: 46px;
  font-weight: 200;
  padding-bottom: 85px; 
}

.cardContainer {
  margin-top: 20px;
}
.card-body{
  background-color: white; 
}
.card1{
  margin: 5px auto;
  background-color: rgb(0, 129, 167,0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.card2{
  margin: 5px auto;
  background-color: #FED9B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card3{
  margin: 5px auto;
  background-color: rgb(0, 175, 185,0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card4{
  margin: 5px auto;
  background-color: #FDFCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card5{
  margin: 5px auto;
  background-color: #F07167;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.container-fluid{
  width: auto;  
  margin-left: 10%; 
  margin-right: 10%; 
  margin-bottom: 20%; 
}
.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  padding: 20px; 
}


/*
button {
  float: right;
  position: relative;
  cursor: pointer;
  color: salmon;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  transition: all 0.2s ease-in;
}

button:hover{
  color: white;
  background-color: salmon; 
}*/

.btn {
  position: relative;
  cursor: pointer;
  color: #fa8072;
  background-color: white; 
  font-weight: 300;
  border: 2px solid salmon;
  font-size: 20px;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
  .btn:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: salmon;
    border-color: white;
    z-index: -1;
    transition: width 150ms ease-in-out;
    outline:0;

  }
  
  .btn:focus {
    outline:0;
  }

  .btn:hover {
    color: #fff;
  }
  .btn:hover:after {
      width: 110%;
    }


.container-footer{
  background-color: rgb(221, 234, 240);
  position: relative;
  cursor: pointer;
  width: auto;
  justify-content: center; 

}
.footer-block{
  display: flex; 
  flex-direction: column;
  text-align: left; 
  padding-top: 20px; 
  padding-left: 10px; 
  padding-right: 10px; 
  margin-right: 10%; 
  margin-left: 10%; 
}

.copyright{
  display: flex;
  align-items: center;  
  justify-content: center;
  height: auto;
  padding-bottom: 10px; 
  padding-top: 10px;  
  width: auto; 
}

.btn1{
  position: relative;
  cursor: pointer; 
  color: salmon;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  /*
  position: relative; 
  float: right; 
  color: #07689F; 
  font-weight: 300;
  border: 2px solid #07689F;
  font-size: 20px;
  padding: 17px;
  width: 30%;
  transition: all 0.2s ease-in;
  */
}


.btn1:hover{
  color: rgb(250, 128, 114,0.5); 
  text-decoration: none;
  background-color: transparent; 
  text-decoration: none;
}
.contentbutton:link{
  text-decoration: none;

}




/*
@media only screen and (max-width: 1000px)
{
  #navigation{
    display: none;

  }
  .icons{
    margin-left: auto;
  } 
}
 @media only screen and (max-width: 600px)
 {
   #headline{
     position: static; 
     margin: 20px; 
   }
   #heroGrid{
     grid-template-areas: 
     "featuredProduct featuredProduct"
     "secondaryProduct CTA"
   }
   #categoryGrid{
     grid-template-rows: 300px 300px 300px 300px 300px;
     grid-template-columns: 1fr;
     grid-template-areas: 
     "bookcases"
     "bedroom"
     "patio"
     "couches"
     "desks";
   }

 }